<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			 aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav" *ngIf="isLoggedIn();else NotLogin">
				<li class="active">
					<a [routerLink]=" ['./home'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
				</li>
				<li>
					<a [routerLink]=" ['./about'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
				</li>
				<li>
					<a [routerLink]=" ['./news'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">News</a>
				</li>
				<li>
					<a href="#" (click)="doLogout()">Logout</a>
				</li>
			</ul>
			<ng-template #NotLogin>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Login</a></li>
				</ul>
			</ng-template>
		</div>
	</div>
</nav>